html {
    padding-top: 8px;
    margin: 0 auto;
    float: none;
    max-width: 1360px;
}
nav li {
    display: inline-block;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    padding: 0px;
}
.active {
    background-color: teal;
    color: #fff
}
.logo-container {
    padding-top: 5px;
    max-width: 600px;
}

.Contact-persons {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
}
footer {
    padding-top: 50px;
    background-color: lightgrey;
    font-size: larger;
    justify-content: space-evenly;
    display: flex;
}