header {
font-size: 20px;
background-color: #FDFDFD;
color: black;
}

h1 {
    font-size: 30px;
    color: green;
    background-image: url("../Images/three\ people\ hiking\ from\ the\ back.jpg") 
    }

section 


footer {
    font-size: 15px;
    background-color: #D9D9D9;
}
